<p>
	<font family="helvetica" size=4><b>ChiaChia Lee:</b></font>
	<ul>
		<li>e-mail: <a href="mailto:spiderman0103@gmail.com">spiderman0103@gmail.com</a></li>
		<li>plurk: <a href="http://www.plurk.com/zerodie">@zerodie</a></li>
	</ul>
</p>

<p>
	<font family="helvetica" size=4><b>Mayru Sun:</b></font>
	<ul>
		<li>e-mail: <a href="mailto:smr301@gmail.com">smr301@gmail.com</a></li>
		<li>plurk: <a href="http://www.plurk.com/smr301">@smr301</a></li>
	</ul>
</p>

<p>
	<font family="helvetica" size=4><b>Wings Huang:</b></font>
	<ul>
		<li>e-mail: <a href="mailto:fit1122@gmail.com">fit1122@gmail.com</a></li>
		<li>plurk: <a href="http://www.plurk.com/wingshuang">@wingshuang</a></li>
	</ul>
</p>