Hello <%= params[:user_name] %>! <br />

		
<table height="340" width="520" background="/images/back.png">
	<tr>
		<td width=18%></td>
		<td width=35%><%= form_tag do %>
				<%= text_field_tag :user_name %>
			<% end %></td>
		<td><%= link_to 'Find', :controller => "friends", :action => "index", :user_name => params[:user_name] %></td>
	</tr>
	<tr height =60%>
	</tr>
</table>